project = "example"
region = "example"
zone = "example"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image_app = "example"
disk_image_db = "example"
name_app = "example"
name_db = "example"
app_count = 1
db_count = 1
provision_need = 2
users = ["examle"]
